name: On Issue

on:
  issues:
    types:
      - opened

jobs:
  print_issue:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v2
        
      - name: Hello world action step
        uses: lukelavery/hello-world-docker-action@v2
        with:
          who-to-greet: "${{ github.event.issue.title }}"